<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/jquery-slider/ionrange.min.css">
    <link rel="stylesheet" href="~/css/style.min.css">
    <link href="~/lib/venobox/venobox.min.css" rel="stylesheet" />
    <script defer src="~/lib/jquery/jquery.min.js"></script>
    <script defer src="~/lib/jquery-slider/ionrange.min.js"></script>
    <script defer src="~/lib/venobox/venobox.min.js"></script>
    <script defer src="~/js/bundle.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="header">
        <div class="logo header__logo"><a asp-action="List" asp-controller="Product">ollok</a></div>
        <div class="header__button">
            <div class="wishlist-button header__wishlist">
                <div class="wishlist-button__count-of-wishlist" id="wishlistCount"></div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-0.2 -1 17 17">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                </svg>
            </div>
            <div class="basket-button header__basket">
                <div class="wishlist-button__count-of-wishlist" id="cartCount"></div>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 512 512" enable-background="new 0 0 512 512">
                    <path d="m500.6,459.3l-45.4-414.9c-2.1-18.8-19-33.4-38-33.4h-322.5c-20,0-35.8,14.6-38,33.4l-45.3,414.9c-3.5,23.3 14.2,41.7 38,41.7h413.2c22.1,0 41.5-18.7 38-41.7zm-38,20.8h-413.2c-9,0-18.9-6.2-16.9-18.8l45.3-413.8c1.1-9.4 8.4-15.6 16.9-15.6v-1h322.6c8.4,0 15.8,7.3 16.9,15.6l45.3,414.9c1.8,9.2-4.7,18.7-16.9,18.7z" />
                    <path d="m348.7,70.3c-5.9,0-10.6,4.7-10.6,10.5v101.6c0,44.8-36.8,81.2-82.1,81.2-45.3,0-82.1-36.4-82.1-81.2v-101.3c0-5.8-4.8-10.5-10.6-10.5-5.9,0-10.6,4.7-10.6,10.5v101.3c0,56.4 46.4,102.2 103.4,102.2s103.4-45.9 103.4-102.2v-101.5c-0.1-5.9-4.9-10.6-10.8-10.6z" />
                </svg>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content">
            @RenderBody()
        </div>
    </div>
    <footer class="footer">
        <div class="footer__links">
            <div class="footer__link"></div>
        </div>
    </footer>
    <div class="hidden-content">
        <div class="basket-ajax">
            @await Component.InvokeAsync("Cart")
        </div>
        <div class="wishlist-ajax">
            @await Component.InvokeAsync("Wishlist")
        </div>
        <div class="cart-notice_none">
            <div class="cart-notice__title">Чтобы добавить товар в корзину, нужно выбрать размер товара.</div>
        </div>
        @if (@TempData["OrderNotification"] != null)
        {
            <div class="order-notification">@TempData["OrderNotification"]</div>
        }

    </div>
</body>
</html>