@model Category

<div class="product-editing">
    <form method="Post" asp-action="UpdateCategory" asp-controller="Category">
        <input type="text" asp-for="Id" hidden />
        <div class="product-editing__info">
            <div class="product-editing__info1">
                <div class="product-editing__name ">
                    <label for="name" class="label label-product">Название:</label><br>
                    <input type="text" id="name" asp-for="Name" class="input input-product" required>
                </div>
                <div class="product-editing__name ">
                    <label for="latin-name" class="label label-product">Название на латинице:</label><br>
                    <input type="text" id="latinname" asp-for="LatinName" class="input input-product" required>
                </div>
            </div>
            <div class="product-editing__submit">
                <input type="submit" class="btn" value="Редактировать">
            </div>
        </div>
    </form>
</div>


